<!DOCTYPE html>
<html ng-app="AllReviews">
<head lang="en">
    <meta charset="UTF-8">
    <title>Bloc Base Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-controller="SearchController">
  <div id="search">
    <input ng-model="query" placeholder="search" ng-keyup="$event.keyCode == 13 && executeSearch()">
    <div class="movies" ng-repeat="movie in movies | unique: 'title'" ng-click="requestReviews()">
        <a href="#" ng-click="getReviews(movie.title)">{{ movie.title }} - {{ movie.provider }}</a>
    </div>
  </div>
  <div id="reviews">
    <div ng-show="reviewsRequested">
      <p>Testing</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>

<!-- <div class="movies" <!--ng-repeat="movie in movies" ng-click="openRepo(movie.full_name)"> -->
